torchvision
pandas
tqdm
joblib
scipy
numpy
colorlog
regex
transformers
opencv_python
h5py
easydict
ffmpeg_python
torch
ftfy
six
nltk
matplotlib
ffmpeg
Pillow
python_hostlist
PyYAML
scikit_learn
tensorboardX
langdetect
genbit
